version: '3.8'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      SA_PASSWORD: "Your_password123"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"

  airflow:
    build: .
    container_name: bees-data-engineering-breweries-case-airflow-1
    volumes:
      - ./scripts:/app/scripts
    ports:
      - "8080:8080"
    depends_on:
      - sqlserver
